@import "tailwindcss";

:root {
  --background: #5e0d1b;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-eb-garamond: var(--font-eb-garamond);
  --font-alex-brush: var(--font-alex-brush);
  --font-alegreya: var(--font-alegreya);

  /* Color */
  --color-primary: #390414;
  --color-secondary: #fee9ca;
  --color-accent: #aa0139;
  --color-text-dark: #2b282a;
  --color-text-light: #fbf9fa;
  --color-bg-light: #fdf9fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5e0d1b;
    --foreground: #ededed;
  }
}

@utility container {
  @apply max-w-7xl mx-auto w-full;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-eb-garamond);
}

@keyframes gallery-marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 2.5rem));
  }
}

.gallery-marquee {
  animation: gallery-marquee 24s linear infinite;
}

@media (max-width: 1279px) {
  @keyframes gallery-marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-50% - 0.4375rem));
    }
  }
}
